
#mainheader{
    top:0;
    left:0;
    width: 100%;
}
#headertop{
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 2%;
    background-color: #fff;
}
#headerbottom{
    margin-top:40px;
    background-color: #BC6C25;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding:1%;
}
.mainlogo{
    width: 40%;
}
.mainlogolink{
    margin: auto;
    text-align: center;
}
footer{
    display: flex;
    flex-direction: column;
    margin: 5% 0 0 0;
    color: #fff;
}

#footertop{
    background-color: #203310;
    padding: 1% 10% 1% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
#footerbottom{
    background-color: #3B4A22;
    padding: 1% 5%;
    max-height: 50px;
}
.cardfooter{
    display: flex;
    height: 200px;
    width: 30%;
    background: #FFFFFF;
    box-shadow: 0px 20px 37px 14px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    flex-direction: column;
    justify-content: space-between;
}
.cardfootertop{
    background-color: #BC6C25;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    min-height: 100px;
}
.cardfooterbottom{
    display: flex;
    justify-content: flex-end;
    margin:5px 0px;
}
.imgperfilfooter{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-bottom: -15%;
}
.redes {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.redesitem {
    width: 50px;
    height: 50px;
}

svg circle{
    fill: #BC6C25;
}
svg circle:hover{
    fill: #203310;
    transition: .5s all;
}
