*{
    font-family: Open Sans;
}

a{
    text-decoration: none !important;
}
.link{
    color: #BD8E4D !important;
}

.link:hover{
    color: #C0792C !important;
}

body{
    margin: 0px;
}
h1{
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 68px;
    text-transform: uppercase;
    color: #BC6C25;
    margin: 0px;
}

p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
hr.solid {
    border-top: 1px solid #B6B6B6;
    margin: 25px 0px 25px 0px;
  }

#mainheader{
    top:0;
    left:0;
    width: 100%;
}
#headertop{
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 2%;
    background-color: #fff;
}
#headerbottom{
    margin-top:40px;
    background-color: #BC6C25;
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding:1%;
}
.mainlogo{
    width: 20%;
    margin:auto;
}
.specialbutton{
    background-color: #fff;
    color:#BC6C25;
    text-align: center;
    border-radius: 10px;
    padding: 1vh 2vw 1vh 2vw;
    border: solid transparent;
    transition: background 500ms ease 0s;
    font-size: 16px;
    width: 220px;
}

.specialbutton:hover{
    background-color: #3B4A22;
    color:#fff;
}

.normalbutton{
    text-align: center;
    background: #BC6C25;
    border-radius: 10px;
    padding: 1vh 2vw 1vh 2vw;
    border: solid transparent;
    color: #fff;
    transition: background 500ms ease 0s;
    font-size: 16px;
    width: 220px;
}
.normalbutton:hover{
    background: #fff;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 1vh 2vw 1vh 2vw;
    border: solid transparent;
    color: #BC6C25;
}
.normalbuttonfull{
    text-align: center;
    background: #BC6C25;
    border-radius: 10px;
    padding: 1vh 2vw 1vh 2vw;
    border: solid transparent;
    color: #fff;
    transition: background 500ms ease 0s;
    font-size: 16px;
    width: 100% !important;
}
.normalbuttonfull:hover{
    background: #fff;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 1vh 2vw 1vh 2vw;
    border: solid transparent;
    color: #BC6C25;
}
.bannerindex{
    background-image: url(../img/fundoimagem.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 770px;
}

.bannerindexcontent{
    padding: 10% 0% 0% 5%;
}

.objetivos{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.objetivotext{
    width: 30%;
}
